<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Profil-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="container-front">
      <span class="player-name">
      Pedro Patrick
      </span>
      <div class="picture">
        <ngx-avatar facebookId="100003009756908" name="Pedro Patrick" size="100" ></ngx-avatar>
      </div>
    </div>
    
    <div class ="container-content">
      <div class="content">
        Meilleur score : 4500
      </div>
      <div class="content">
        Dernière partie : 27/05/2020
      </div>
      <div class="content">
        Mail : pedro.patrick@gmail.com
      </div>
      <div class="content">
        Téléphone : 0640857496
      </div>
    </div>
    
    
  </div>
</ion-content>
