<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>historique</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <table mat-table [dataSource]="matchs" class="table">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let match"> {{match.date}} </td>
    </ng-container>
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let match"> {{match.score}} </td>
    </ng-container>
    <ng-container matColumnDef="j1">
      <th mat-header-cell *matHeaderCellDef> Joueur1 </th>
      <td mat-cell *matCellDef="let match"> {{match.j1}} </td>
    </ng-container>
    <ng-container matColumnDef="j2">
      <th mat-header-cell *matHeaderCellDef> Joueur2 </th>
      <td mat-cell *matCellDef="let match"> {{match.j2}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</ion-content>
